/***********
 Typography 
***********/

@font-face {
  font-family: 'HKGrotesk';
}

html,
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
}

body {
  font-family: 'HKGrotesk', sans-serif;
  font-weight: 300;
}

h1 {
  font-family: 'Muli', sans-serif;
}

/***********
 Nav 
***********/

.nav .row {
  display: flex;
  align-items: center;
  padding: 1.5em 0 1em 0;
}

.nav a {
  color: rgb(56, 74, 95);
}

.nav a:hover {
  color: rgb(108, 168, 127);
  text-decoration: none;
}

.nav .active a {
  color: rgb(108, 168, 127);
}

.nav-bar-bot {
  height: 50px;
  width: 100%;
  background: rgb(56, 74, 95);
}

.arrow-down-single-line,
.arrow-down-narrow,
.arrow-down {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 5em;
  width: 80%;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 50px solid white;
}

.arrow-down-single-line {
  top: 4.1em;
}

/***********
 Header 
***********/

.header {
  padding: 25px 0 0 0;
}

.hero-quote,
.hero-author {
  font-size: 1.2em;
}

.hero-author {
  margin-left: 1em;
  margin-bottom: 0;
}

/***********
 Sub-Nav
***********/

header,
.sub-nav {
  min-height: 200px;
  padding: 35px 0 0 0;
  background-color: rgb(108, 168, 127);
}

header,
.sub-nav a {
  color: white;
}

.sub-nav a:hover,
.active-sub a {
  color: rgb(56, 74, 95);
  text-decoration: none;
}

/***********
 Main 
***********/

#sub2,
#sub3,
#sub4 {
  display: none;
}

.section-container {
  flex: 1;
  background-color: rgb(228, 237, 230);
}

.card-title,
.card-sub-title,
.summary {
  color: rgb(77, 77, 79);
  padding: 0 5px;
}

.card-title {
  padding-top: 25px;
}

.summary,
.section-container ul {
  font-size: 1.1em;
}

.card-row-top,
.card-row-bot {
  background-color: white;
}

.card-row-bot {
  padding-bottom: 50px;
  background-image: linear-gradient(white, rgb(228, 237, 230))
}

.section-up {
  position: relative;
  top: -150px;
}

.section-up-small,
.section-up-small-main {
  position: relative;
  top: -50px;
}

/***********
 Footer 
***********/

/***********
 Media Queries 
***********/

@media (min-width: 1200px) {
  .line-break-nav {
    display: none;
  }
  .arrow-down-narrow {
    width: 70%;
  }
}

@media (max-width: 1199px) {
  .arrow-down {
    width: 90%;
  }
  .arrow-down-single-line {
    top: 5em;
  }
}

@media (max-width: 991px) {
  .arrow-down,
  .arrow-down-single-line,
  .arrow-down-narrow {
    display: none;
  }
}

@media (max-width: 767px) {
  .line-break,
  .line-break-nav {
    display: none;
  }
  .section-up-small-main {
    position: static;
  }
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
}

@media (max-width: 575px) {
  .line-break-special {
    display: none;
  }
  .section-up-small {
    position: static;
  }
}