/***********
 Typography 
***********/

@font-face {
  font-family: 'HKGrotesk';
}

body {
  font-family: 'HKGrotesk', sans-serif;
  font-weight: 300;
}

h1 {
  font-family: 'Muli', sans-serif;
}

/***********
 Nav 
***********/

.nav .row {
  padding: 1rem 0;
  display: flex;
  align-items: flex-end;
}

.nav a {
  color: rgb(56, 74, 95);
}

.nav a:hover {
  color: rgb(137, 146, 158);
  text-decoration: none;
}

.nav .active {
  color: rgb(108, 168, 127);
}

.nav-bar {
  height: 50px;
  width: 100%;
  margin-bottom: 50px;
  background: rgb(56, 74, 95);
}

/***********
 Header 
***********/

header span {
  margin-left: 10px;
}

/***********
 Main 
***********/

#sub2,
#sub3,
#sub4 {
  display: none;
}