/***********
 Typography 
***********/

@font-face {
  font-family: 'HKGrotesk';
}

html,
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
}

body {
  font-family: 'HKGrotesk', sans-serif;
  font-weight: 300;
  border: 1px solid red;
}

h1 {
  font-family: 'Muli', sans-serif;
}

/***********
 Nav 
***********/

.nav .row {
  display: flex;
  align-items: center;
  padding: 1.5em 0 1em 0;
}

.nav a {
  color: rgb(56, 74, 95);
}

.nav a:hover {
  color: rgb(108, 168, 127);
  text-decoration: none;
}

.nav .active {
  color: rgb(77, 77, 79);
  font-weight: 700;
}

.nav-bar-bot {
  height: 50px;
  width: 100%;
  background: rgb(56, 74, 95);
}

/***********
 Header 
***********/

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

.hero-quote,
.hero-author {
  font-size: 1.2em;
}

.hero-author {
  margin-left: 1em;
  margin-bottom: 0;
}

/***********
 Sub-Nav
***********/

header,
.sub-nav {
  min-height: 200px;
  padding: 25px 0;
  background-color: rgb(108, 168, 127);
}

header,
.sub-nav a {
  color: white;
}

.sub-nav a:hover {
  color: rgb(56, 74, 95);
  text-decoration: none;
}

/***********
 Main 
***********/

#sub2,
#sub3,
#sub4 {
  display: none;
}

.section-container {
  flex: 1;
  background-color: rgb(228, 237, 230);
}

.card-title,
.summary {
  color: rgb(77, 77, 79);
  padding-left: 5px;
}

.card-title {
  padding-top: 25px;
}

.summary {
  font-size: 1.1em;
}

.card-row-top,
.card-row-bot {
  background-color: white;
}

/***********
 Footer 
***********/